<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA91rDXqEMgL5u3YUnyLWjT6xXkiYDwvZM</string>
	<key>GCM_SENDER_ID</key>
	<string>701262945529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fairwayfinder</string>
	<key>PROJECT_ID</key>
	<string>fairwayfinder-87d30</string>
	<key>STORAGE_BUCKET</key>
	<string>fairwayfinder-87d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701262945529:ios:c6161bb08ae0bd538c9628</string>
</dict>
</plist>